<ion-view view-title="{{ entry.date | date:'MMMM dd, yyyy' }}">
  <ion-content class="padding">
    <h2 ng-hide="state.editingTitle" ng-click="state.editingTitle = true; originalTitle = entry.title">
      {{ entry.title }}
    </h2>
    <form name="titleForm" ng-show="state.editingTitle" ng-submit="state.editingTitle = false">
      <input type="text" ng-model="entry.title" ng-blur="state.editingTitle = false"/>
      <button class="button button-balanced button-small" type="submit">
        <i class="icon ion-checkmark-round"></i>
      </button>
    </form>
    <div ng-hide="state.editingText" ng-click="startEditor()"
         ng-bind-html="renderMarkdown(entry.text)">
    </div>
    <form ng-show="state.editingText">
      <textarea cols="80" ng-model="entry.text" placeholder="What's on my mind today?"></textarea>
      <button class="button button-balanced button-small" ng-click="saveChanges()">
        <i class="icon ion-checkmark-round"></i> Save
      </button>
      <button class="button button-assertive button-small" ng-click="cancelChanges()">
        <i class="icon ion-close-round"></i> Cancel
      </button>
    </form>
  </ion-content>
</ion-view>
