<ion-view view-title="Intro" class="diary intro tutorial" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear"
            ng-click="startApp()" ng-hide="slideIndex > 0">
      Skip
    </button>
    <button class="button button-positive button-clear"
            ng-click="previous()" ng-show="slideIndex > 0">
      Previous
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear"
            ng-click="next()" ng-show="slideIndex != 5">
      Next
    </button>
    <button class="button button-positive button-clear"
            ng-click="finishTutorial()" ng-show="slideIndex == 5">
      Got it!
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-slide-box on-slide-changed="slideChanged(index)" class="diary slides">
      <ion-slide class="diary slide">
        <h2>Welcome to Uta Diary!</h2>
        <p>
          This tutorial will help you get started quickly.
          Swipe left to continue!
        </p>
      </ion-slide>
      <ion-slide>
        <h3><i class="icon ion-ios-bookmarks"></i> Journal</h3>
        <p>
          This is where you can create journal entries.
          You'll find one entry already waiting for you!
        </p>
        <div class="image-container">
          <img class="image" alt="Journal editor" src="https://lh3.googleusercontent.com/MFAA4gLXvg44sQHXdSTrL-astbx3HQwcE0mDPu5mH1h9dh_oPc-LCE_3ayIqUHX-n-o=h900-rw">
        </div>
      </ion-slide>
      <ion-slide>
        <h3><i class="icon ion-ios-paw"></i> Kitsune</h3>
        <p>
          This is where fox spirit Kitsune posts their entries.
          One is randomly generated in response to each of yours.
        </p>
        <div class="image-container">
          <img class="image" alt="Kitsune entry" src="https://lh3.googleusercontent.com/sBrQe_pt8p-sfvBb3H0YIWkMWeQh_3k-CxSQimL92Qe-lnwptfJEa4jzsIHYtfVcf8Dz=h900-rw">
        </div>
      </ion-slide>
      <ion-slide>
        <h3><i class="icon ion-ios-pulse"></i> Statistics</h3>
        <p>
          This shows your recent writing stats, so you can track your journaling progress.
        </p>
        <div class="image-container">
          <img class="image" alt="Journal stats" src="https://s-media-cache-ak0.pinimg.com/564x/f9/44/c7/f944c7f1c21ac0cbdf52fad422c50763.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <h3><i class="icon ion-ios-gear"></i> Settings</h3>
        <p>
          This offers advanced options, such as backups.
          Backups save journal data as a file on your device, which you can restore later.
        </p>
        <div class="image-container">
          <img class="image" alt="Backups menu" src="https://s-media-cache-ak0.pinimg.com/564x/84/17/e8/8417e8480fe51062890e1dea876876bf.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <h3><i class="icon ion-ios-gear"></i> Tutorial Complete</h3>
        <p>
          That's all you need to know for now.
          Let's begin!
        </p>
        <button class="button button-positive button-block"
                style="width: 90%; margin: auto"
                ng-click="finishTutorial()">
          Okay!
        </button>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
