<ion-view view-title="Login" class="diary login">
  <ion-content>
    <h2>Create Passphrase</h2>
    <p>
      Choose a strong passphrase to secure your data!
    </p>
    <form>
      <input name="email" type="text" placeholder="Email">
      <input name="passphrase" type="password" placeholder="Passphrase">
      <input name="confirm" type="password" placeholder="Confirm passphrase">
      <button class="button button-block button-positive" ng-click="submit()">Login</button>
    </form>
  </ion-content>
</ion-view>
