<ion-view view-title="Login" class="diary login start" cache-view="false" hide-nav-bar="true">
  <ion-content>
    <h2>Login</h2>
    <p>
      Enter your passphrase to unlock the diary!
    </p>
    <form name="loginForm">
      <div class="list list-inset">
        <label class="item item-input">
          <input name="passphrase" type="text" placeholder="Passphrase" autocapitalize="off"
                 ng-model="form.passphrase">
        </label>
        <div class="form-errors">
          <div class="form-error" ng-repeat="error in formErrors" ng-bind="error.message"></div>
        </div>
        <button class="button button-block button-positive" ng-click="submit()">Login</button>
      </div>
    </form>
  </ion-content>
</ion-view>
