<div class="nikki entry-text"
     ng-hide="state.editingText" ng-click="startEditor($event)"
     ng-bind-html="entry.text | renderMarkdown">
</div>
<form ng-show="state.editingText">
  <textarea msd-elastic="\n" class="nikki entry-text-editor"
            ng-model="entry.text" placeholder="What's on my mind today?"
            ng-change="textChanged()"
            ng-blur="preview()"></textarea>
  <button class="button button-calm button-small">
    <i class="icon ion-checkmark-round"></i> Preview
  </button>
</form>
<div class="nikki notifications">
  <div class="nikki notification" ng-repeat="notification in notifications"
       ng-class="{ start: notification.start, fadeIn: notification.fadeIn, fadeOut: notification.fadeOut }" >
    <span class="nikki message" ng-bind="notification.message"></span>
  </div>
</div>
