<div ng-hide="state.editingText" ng-click="startEditor()"
     ng-bind-html="renderMarkdown(entry.text)">
</div>
<form ng-show="state.editingText">
  <textarea msd-elastic="\n" class="nikki entry-text-editor" cols="80" ng-model="entry.text" placeholder="What's on my mind today?"></textarea>
  <button class="button button-balanced button-small" ng-click="saveChanges()">
    <i class="icon ion-checkmark-round"></i> Save
  </button>
  <button class="button button-assertive button-small" ng-click="cancelChanges()">
    <i class="icon ion-close-round"></i> Cancel
  </button>
</form>
