<ion-view view-title="Statistics" class="diary journal statistics" cache-view="false">
  <ion-content>
    <h2 class="content-header">Journal Stats</h2>
    <div class="list card" style="margin-top: 0">
      <div class="item item-divider">Today</div>
      <div class="item item-body">
        <div>
          <b>{{stats.daily.entries}}</b> entries,
          <b>{{stats.daily.words}}</b> words,
          <b>{{stats.daily.bytes / 1000}}</b> KB
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">This Week</div>
      <div class="item item-body">
        <div>
          <b>{{stats.weekly.entries}}</b> entries,
          <b>{{stats.weekly.words}}</b> words,
          <b>{{stats.weekly.bytes / 1000}}</b> KB
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">This Month</div>
      <div class="item item-body">
        <div>
          <b>{{stats.monthly.entries}}</b> entries,
          <b>{{stats.monthly.words}}</b> words,
          <b>{{stats.monthly.bytes / 1000}}</b> KB
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">This Year</div>
      <div class="item item-body">
        <div>
          <b>{{stats.yearly.entries}}</b> entries,
          <b>{{stats.yearly.words}}</b> words,
          <b>{{stats.yearly.bytes / 1000}}</b> KB
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">All Time</div>
      <div class="item item-body">
        <div>
          <b>{{stats.allTime.entries}}</b> entries,
          <b>{{stats.allTime.words}}</b> words,
          <b>{{stats.allTime.bytes / 1000}}</b> KB
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
