<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" href="#/tab/settings/profile">
        <i class="icon ion-person"></i>
        <h2>Profile</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-left item-icon-right" href="#/tab/settings/backups">
        <i class="icon ion-ios-box"></i>
        <h2>Backups</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-toggle ng-model="Uta.db.settings.enableTutorial" ng-click="save()">
        <h2>Enable Tutorial</h2>
        <p>Show tutorial on startup</p>
      </ion-toggle>

      <ion-toggle ng-model="Uta.db.settings.enableDebug" ng-click="save()">
        <h2>Enable Debug</h2>
        <p>Enable application debugging</p>
      </ion-toggle>

      <ion-toggle ng-model="Uta.db.settings.enableEncryption" ng-click="enableEncryption()">
        <h2>Enable Encryption</h2>
        <p>Encrypt journals with your passphrase</p>
      </ion-toggle>

      <ion-item class="item-icon-right" ng-show="Uta.db.settings.enableEncryption" ng-click="changePassphrase()">
        <h2>Change Passphrase</h2>
        <p>Change your encryption passphrase</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
