<ion-view view-title="Entries">
  <ion-content>
    <ion-list>
      <ion-item class="nikki new-entry item-remove-animate item-avatar item-icon-right"
                ng-click="create()">
        <h2 class="nikki new-entry-header">Today</h2>
        <p>New Entry</p>
        <i class="icon ion-plus icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="entry in entries | orderBy:'-id' track by entry.id" type="item-text-wrap" href="#/tab/entries/{{entry.id}}">
        <h2>{{ entry.date | date:'MMMM dd, yyyy' }}</h2>
        <p>{{ entry.title }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(entry)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
