<!-- Kitsune -->
<ion-view view-title="Kitsune" class="diary journal kitsune" cache-view="false">
  <ion-content>
    <h2 class="content-header">Kitsune's Diary</h2>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entry in entries | orderBy:'-id' track by entry.id" type="item-text-wrap" href="#/tab/kitsune/{{entry.id}}">
        <img ng-src="{{avatarURL}}">
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.text.substr(0, 140) }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div style="text-align: center">
      <img src="img/icon.png" style="height: 175px; margin: 10px 0; z-index: 100; box-shadow: none">
    </div>
  </ion-content>
</ion-view>
