<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" href="#/tab/settings/profile">
        <i class="icon ion-person"></i>
        <h2>Profile</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-left item-icon-right" href="#/tab/settings/backups">
        <i class="icon ion-ios-box"></i>
        <h2>Backups</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-toggle ng-model="Uta.db.settings.enableTutorial" ng-click="save()">
        <h2>Enable Tutorial</h2>
        <p>Show tutorial on startup</p>
      </ion-toggle>
      <!--
      <div class="item item-divider">
        Security
      </div>
      <ion-toggle  ng-model="Uta.db.settings.enableEncryption">
        Enable Encryption
      </ion-toggle>

      <div class="item item-divider">
        Account
      </div>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="Uta.db.settings.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="Uta.db.settings.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="Uta.db.settings.email">
      </label>
      -->
    </ion-list>
  </ion-content>
</ion-view>
