<ion-view view-title="Profile" class="diary journal settings">
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="Uta.db.settings.firstName" ng-change="save()">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="Uta.db.settings.lastName" ng-change="save()">
      </label>
    </ion-list>
  </ion-content>
</ion-view>
