<!-- Tabs -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Journal -->
  <ion-tab title="My Journal" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/tab/entries">
    <ion-nav-view name="tab-entries"></ion-nav-view>
  </ion-tab>

  <!-- Kitsune -->
  <ion-tab title="Kitsune" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/kitsune">
    <ion-nav-view name="tab-kitsune"></ion-nav-view>
  </ion-tab>

  <!-- Statistics -->
  <ion-tab title="Statistics" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Settings -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
