/* Empty. Add your own CSS if you like */

/* Ionic Colors
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

.nikki.intro .scroll {
  height: 100%;
}
.nikki.intro .slider {
  height: 100%;
}
.nikki.intro .nikki.slides
{
  background: url("../img/splash.png");
  background-size: cover;
  background-position: center;
}
.nikki.intro .nikki.slides ion-slide
{
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0) 33%);
}
.nikki.intro .nikki.slides ion-slide *
{
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.nikki.intro .nikki.slides .slider-pager-page
{
  color: #fff;
}
.nikki.intro .nikki.slides p
{
  font-size: 20px;
}

.nikki.new-entry, .nikki.new-entry * {
  background: #11c1f3;
  color: #fff;
}
.nikki.new-entry-header {
  color: #fff;
}

nikki-entry-title .nikki.entry-title,
nikki-entry-title .nikki.entry-title-editor {
  font-size: 30px;
}

nikki-entry-text .nikki.entry-text {
  min-height: 20em;
}

nikki-entry-text .nikki.entry-text h1 { font-size: 30px; }
nikki-entry-text .nikki.entry-text h2 { font-size: 25px; }
nikki-entry-text .nikki.entry-text h3 { font-size: 20px; }
nikki-entry-text .nikki.entry-text h4 { font-size: 16px; }

nikki-entry-text .nikki.entry-text blockquote {
  margin: 10px 0px;
  border-left: 5px solid #ccc;
  font-style: italic;
}
nikki-entry-text .nikki.entry-text code {
  font-family: "Droid Sans Mono", "Menlo-Regular", "DejaVu Sans Mono", Monospace;
}
nikki-entry-text .nikki.entry-text ol {
  list-style: decimal inside none;
}
nikki-entry-text .nikki.entry-text ul {
  list-style: disc inside none;
}
nikki-entry-text .nikki.entry-text-editor {
  width: 100%;
}

nikki-entry-text .nikki.notifications {
  position: fixed;
  top: 0px;
  right: 0px;
}
nikki-entry-text .nikki.notifications .notification {
}
nikki-entry-text .nikki.notifications .notification .message {
  display: inline-block;
  margin: 1px;
  border: 1px solid #0da;
  border-radius: 4px;
  padding: 5px;
  background: #0eb;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.nikki.entry-meta,
.nikki.kitsune-meta {
  color: #888;
  margin: -12px 0 10px 0;
}
