/* Empty. Add your own CSS if you like */

/* Ionic Colors
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.diary.start {
  color: #fff;
  background: linear-gradient(to bottom, #9900E6, #00E7FF);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.diary.start h2 {
  color: #fff;
}
.diary.start form {
  background: none;
  color: #fff;
}
.diary.start form .item-input,
.diary.start form input {
   background: none;
   color: #fff;
}
.diary.start form input::-webkit-input-placeholder {
   background: none;
   color: #eee;
}

.diary.start .table-container {
  border-radius: 3px;
  background: #fff;
  color: #000;
  margin:  20px auto;
  display: block;
  width: 90%;
  padding: 10px;
  box-sizing: content-box;
  text-shadow: none;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.diary.start .form-table {
  display: table;
}
.diary.start .form-table tr {
}
.diary.start .form-table th {
  color: #A940DD;
  padding: 5px 20px;
  font-size: 19px;
  font-weight: bold;
}

.diary.start .form-table td {
  padding: 5px 20px;
}
.diary.start .form-table td:first-child {
  text-align: right;
}
.diary.start .form-note {
  color: #888;
}
.diary.start .form-errors,
.diary.login .form-errors {
}
.diary.start .form-error,
.diary.login .form-error {
  margin: 4px;
  padding: 8px;
  border-radius: 5px;
  background: #FFB2C1;
  border: 1px solid rgba(255, 0, 50, 1);
  color: rgba(255, 0, 50, 0.8);
  font-weight: bold;
}


.diary.intro .scroll {
  height: 100%;
}
.diary.intro .slider {
  height: 100%;
}
.diary.intro .diary.slides
{
  background: url("../img/splash.png");
  background-size: cover;
  background-position: center;
}
.diary.intro .diary.slides ion-slide
{
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0) 33%);
}
.diary.intro .diary.slides ion-slide *
{
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.diary.intro .diary.slides .slider-pager-page
{
  color: #fff;
}
.diary.intro .diary.slides p
{
  font-size: 20px;
}

.diary.new-entry, .diary.new-entry * {
  background: #11c1f3;
  color: #fff;
}
.diary.new-entry-header {
  color: #fff;
}

diary-entry-title .diary.entry-title,
diary-entry-title .diary.entry-title-editor {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

diary-entry-text .diary.entry-text {
  min-height: 20em;
}

diary-entry-text .diary.entry-text h1 { font-size: 30px; }
diary-entry-text .diary.entry-text h2 { font-size: 25px; }
diary-entry-text .diary.entry-text h3 { font-size: 20px; }
diary-entry-text .diary.entry-text h4 { font-size: 16px; }

diary-entry-text .diary.entry-text blockquote {
  margin: 10px 0px;
  border-left: 5px solid #ccc;
  font-style: italic;
}
diary-entry-text .diary.entry-text code {
  font-family: "Droid Sans Mono", "Menlo-Regular", "DejaVu Sans Mono", Monospace;
}
diary-entry-text .diary.entry-text ol {
  list-style: decimal inside none;
}
diary-entry-text .diary.entry-text ul {
  list-style: disc inside none;
}
diary-entry-text .diary.entry-text-editor {
  width: 100%;
}

diary-entry-text .diary.notifications {
  position: fixed;
  top: 0px;
  right: 0px;
}

diary-entry-text .diary.notifications .notification {
  transition: all 2s ease;
}
diary-entry-text .diary.notifications .notification.start {
  transition: all 2s ease;
  height: 0;
  opacity: 0;
}
diary-entry-text .diary.notifications .notification.fadeIn {
  transition: all 0.75s ease;
  height: 100%;
  opacity: 0.9;
}
diary-entry-text .diary.notifications .notification.fadeOut {
  transition: all 1.5s ease;
  height: 0;
  opacity: 0;
}

diary-entry-text .diary.notifications .notification .message {
  display: inline-block;
  margin: 1px;
  border: 1px solid #0da;
  border-radius: 4px;
  padding: 5px;
  background: #0eb;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.diary.kitsune-title {
  margin: 0px 0 0 0;
}

.diary.entry-meta,
.diary.kitsune-meta {
  color: #888;
  margin: -4px 0 16px 0;
}
